body {
    margin-top: 0;
    margin-bottom: 0;
}

div p {
    margin: 3rem 15rem 3rem 15rem;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(240, 232, 9);
    font-weight: bold;
    background-color: rgb(25, 0, 255);
    line-height: 1.5rem;
}

/* början av startsidan */

.bg-startsidan {
    background-color: rgb(75, 197, 245);
}

.bildgalleri-flex {
    display: flex;
    box-sizing: border-box;
    flex-flow: row wrap;
    width: 90%;
    justify-content: center;
    margin: auto;
}

.wind-image {
    background-image: url("../images/wind.jpg");
    background-size: 99.5%;
    background-repeat: no-repeat;
    background-position: 50% 94%;
}

.projekt-startsidan {
    flex-basis: 45%;
}

.projekt-startsidan h2 {
    color: rgb(240, 252, 15);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.projekt-startsidan img {
    width: 100%;
    transition: 1.8s;
}

.projekt-startsidan img:hover {
    transform: rotateY(360deg);
}

.projekt-startsidan a {
    text-decoration: none;
}

/* slutet av startsidan */

/* början av projekt */

.bg-projekt {
    background-color: lightseagreen;
}

.projekt-h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(6, 240, 6);
}

.projekt-storBild-flex {
    display: flex;
    justify-content: center;
    margin: 0 400px 0 400px;

}

.projekt-storBild-flex img {
    width: 100%
}

.projekt-mindreBilder-flex {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.projekt-mindreBilder {
    flex-basis: 32%;
}

.projekt-mindreBilder img {
    width: 100%;
}

/* slutet av projekt */

/* början av navbar för alla sidor */
.navbar {
    display: flex;
    flex-flow: row nowrap;
    background-color: darkslateblue;
    margin: 0 280px 0 280px;
    justify-content: center;
    gap: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar a {
    color: red;
    text-decoration: none;
    transition: .2s;
}

.navbar a:hover {
    color: pink;
}

.navbar a[aria-current="page"] {
    /* current page */
    color: pink;
}

/* slutet av navbar för alla sidor */

/* början av informationssida */

.bg-informationssida {
    background-color: black;
}

.glow {
    font-size: 50px;
    color: white;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

#p-informationssida>p {
    color: white;
    margin-top: 10rem;
    margin-bottom: 20rem;
    background: none;
}

/* slutet av informationssida */


footer {
    /* stil som gäller för alla footers */
    margin: auto 20px auto 20px;
    padding-left: 15px;
    border: 4px solid green;
    background-color: rgb(225, 211, 211);
    font-weight: bold;
}